:root {

    /* colors */

    --clr-lightred: 0, 100%, 67%;
    --clr-yellow-orange: 39, 100%, 56%; 
    --clr-green-teal: 166, 100%, 37%; 
    --clr-cobalt-blue: 234, 85%, 45%;

    --clr-light-slate-blue: hsl(252, 100%, 67%);
    --clr-light-royal-blue: hsl(241, 81%, 54%);
    --clr-violet-blue: hsla(256, 72%, 46%, 1);
    --clr-persian-blue: hsla(241, 72%, 46%, 0);

    --clr-white: hsl(0, 0%, 100%);
    --clr-pale-blue: hsl(221, 100%, 96%);
    --clr-light-lavendar: hsl(241, 100%, 89%);
    --clr-dark-gray-blue: 224, 30%, 27%;
    
    /* font sizes */

    --size-base: 1.125rem; }

*, 
::before, 
::after {
    box-sizing: border-box;
    margin: 0; 
    /* border: 1px solid black */
    /* line-height: calc(1em + 0.5rem); */
}

body {
    font-family: 'Hanken Grotesk', sans-serif;
}

/* utility classes */

.medium-weight {
    font-weight: 500;
}

.bold {
    font-weight: 700
}

.extra-bold {
    font-weight: 800
}

button {
    display: flex; 
    padding: 1.125em; 
    border: none;
    border-radius: 50px; 
    background: hsl(var(--clr-dark-gray-blue)); 
    cursor: pointer;
    color: white;
    font-size: 0.9rem;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    margin-bottom: .6em;
}

button:hover {
    background: linear-gradient(var(--clr-light-slate-blue), var(--clr-light-royal-blue))
}

/* global */

body {
    height: 100vh;
    display: flex; 
    justify-content: center;
    align-items: center;
}

.container {
    border-radius: 25px; 
    width: 41em; 
    height: 29em;     
    display: flex;
    background: white;
    box-shadow: 5px 10px 25px rgba(128,128,128, .15), 5px 5px 50px rgba(128,128,128, .15); 
    flex-wrap: wrap;
}

.wrapper {
    flex: 1;
    min-width: 17.5em;
    height: 100%;
    /* border: 1px solid black; */
    border-radius: 25px;
    padding: 2.5em;
}

.result {
    background: linear-gradient(var(--clr-light-slate-blue), var(--clr-light-royal-blue));
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.25em;
}

.comparison-text {
    color: var(--clr-light-lavendar); 
    max-width: 25ch;
    text-align: center;
}

.heading { 
    font-size: 1.3rem
}

.result .heading {
    color: var(--clr-light-lavendar)
}

.circle {
    /* border: 1px solid black; */
    border-radius: 50%;
    height: 11.5em; 
    width: 11.5em;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(var(--clr-violet-blue), var(--clr-persian-blue));
    margin-top: .5em
}

.total-score {
    color: white; 
    font-size: 4rem;
}

.reduced-opacity400 {
    color: var(--clr-light-lavendar);
    opacity: .5
}

.score-description {
    color: white; 
    font-size: 1.75rem

}

.summary {
    display: flex; 
    flex-direction: column;
    gap: 1.75em;
}

.stats {
    display: flex; 
    flex-direction: column;
    gap: 1em; 
}

.stat-wrapper {
    height: 3em; 
    padding: .75em;
    display: flex; 
    border-radius: 10px; 
    align-items: center;
    gap: .75em;

}

.reaction {
    background: hsla(var(--clr-lightred), .1);
    color: hsl(var(--clr-lightred));
}

.memory {
    background: hsla(var(--clr-yellow-orange), .1);
    color: hsl(var(--clr-yellow-orange))
}

.verbal {
    background: hsla(var(--clr-green-teal), .1);
    color: hsl(var(--clr-green-teal));
}

.visual {
    background: hsla(var(--clr-cobalt-blue), .1);
    color: hsl(var(--clr-cobalt-blue))
}

.stat-score {
    margin-left: auto; 
    color: hsl(var(--clr-dark-gray-blue)); 
    font-weight: 800;
}

.over100 {
    color: hsla(var(--clr-dark-gray-blue), .5)
}

@media (max-width: 555px) {
    .container {
        margin-bottom: auto;
    }
};





    

